<div class="row">
  <div class="col-md-8">
    <p class="lead">See Twitter from someone else's perspective. FreshPerspective creates a Twitter list with the accounts someone else follows.</p>
    <%= link_to "#{image_tag('twitter_logo.svg', size:'24')}".html_safe + " Sign in with Twitter", '/auth/twitter', class: 'btn btn-default btn-mobile btn-outline', id: 'twitter-btn' %>
    <br/>
    <br/>
    <p class="small">Note: Twitter is strict about how many lists you can create and how many users you can follow. If you get an error, you might have to try again later</p>
  </div>
</div>

<script type="text/javascript">
mixpanel.track_links("#twitter-btn", "click twitter auth", {
  "referrer": document.referrer
});
</script>
