<h1>FreshPerspective for Twitter</h1>
<p class="lead">Create a Twitter list to see what other people's Twitter stream looks like.</p>
<%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'btn btn-primary' %>
